@import url(https://fonts.googleapis.com/css?family=Roboto:300);

main{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    overflow: auto; 
    background: linear-gradient(10deg, rgba(96, 103, 246, 0.481) 0%, rgba(115, 217, 230, 0.579) 50%)
}
.regist{
    width: 576px;
    height: 380px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin: -50px 0 0 -230px;
    background: linear-gradient(10deg, rgba(96, 103, 246, 0.481) 0%, rgb(115, 217, 230) 50%);
    border-radius: 6px;
    text-align: center;
    box-shadow: 4px 4px 2px 1px rgba(7, 32, 44, 0.609);
}

body{
    background: linear-gradient(90deg, rgb(166, 151, 231) 0%, rgb(127, 217, 231) 50%);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;   
    font-size:large;   
  }

form{
    margin: auto;
    margin-top: 0px;
    transform: none;
}
.form-control{
    width: 400px;
    height: 60px;
    margin-left: 100px;
    font-weight: 600;
    padding-bottom: 0%;
}
.btn{
    padding-top: 0%;
    font-weight:bolder;
    font-size: medium;
    height: 50px;
    width: auto;
    background: rgb(106, 176, 255);
    border-radius: 9px;

}
.btn:hover{
    background: rgba(67, 89, 92, 0.922);
}
.regist1{
    width: 376px;
    height: 180px;
    position: absolute;
    top: 25%;
    left: 81%;
    margin: -50px 0 0 -230px;
    background: linear-gradient(190deg, rgba(96, 103, 246, 0.481) 0%, rgb(115, 217, 230) 50%);
    border-radius: 6px;
    text-align: center;
    box-shadow: 4px 4px 2px 1px rgba(7, 32, 44, 0.609);
    font-size: larger;
    font-weight: 600;
}